spring.application.name=""
#https://spring.io/guides/gs/accessing-data-mysql
spring.jpa.hibernate.ddl-auto=""
spring.datasource.url=""
spring.datasource.username=""
spring.datasource.password=""
spring.datasource.driver-class-name=""
spring.jpa.show-sql=""
#https://docs.spring.io/spring-boot/appendix/application-properties/index.html#appendix.application-properties.security
#config spring security
spring.security.user.name=""
spring.security.user.password=""
